h1{
    color: pink;
}

body{ 
    background-color : whitesmoke; 
}

.grid{
    display:flex  
    flex-wrap  wrap 

}

.CollectionOfOrigami{
    display: flex;
    flex-direction: row;
}